./idea/*
./ipynb_checkpoints/*
*.pt
bird-sound-separation/bird_mixit_model_checkpoints/*
bird-sound-separation/sound-separation/
bird-sound-separation/.ipynb_checkpoints/*
train_audio
test_soundscapes
